@import "../variables.css";

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

* {
margin: 0;
padding: 0;
border: 0;
outline: 0;
}

body {
    position: relative;
    background-color: var(--c-bg-primary);
    margin: 0;
    padding: 0;
    font-family: var(--f-page-text-primary);
    scroll-behavior: smooth;
}

nav, main, aside, footer, header, section {
    display: block;
}

ul, ol {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
    vertical-align: top;
}
input, button, select, textarea {
    font: inherit;
    color: inherit;
    background-color: transparent;
}

button {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0; 
}
.scroll-down header {
    transform: translate3d(0, -100%, 0);
}
.scroll-up header {
    filter:  drop-shadow(0 -10px 20px rgb(170, 170, 170));
}

.grid-container {
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    min-block-size: 100vh;
    min-block-size: 100dvh;
}

/* ---------->>> HEADER - START <<---------- */
header {
    position: sticky;
    top: 0;
    grid-area: header;
    background-color: var(--c-bg-primary);
    /* box-shadow: 0 -29px 111px rgba(45, 55, 94, .47); */
    z-index: 9999;
}
.container-navigate {
    width: min(95%, 90rem);
    margin-inline: auto;
}
.navigate {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
}
.navigate .wrap-left {
    position: relative;
    flex-grow: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1.5rem;
}
.btn-toggle_nav {
    display: block;
    width: 28px;
    height: 28px;
    cursor: pointer;

    @media (min-width: 1024px) {
        display: none;
    }
}
.btn-toggle_nav .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--c-bg-secondary);
}
.btn-toggle_nav.active .bar:nth-child(2) {
    opacity: 0;
}
.btn-toggle_nav.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}
.btn-toggle_nav.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}

.wrap-left a.logo {
    display: block;
    order: 2;

    @media (min-width: 1024px) {
        transform: translateX(0%);
        order: 1;
    }
}a.logo img {
    max-width: 150px;
    height: 58px;
    aspect-ratio: 2;
}

.navigate .toggle-nav_section {
    position: absolute;
    display: block;
    
    @media (min-width: 1024px) {
        position: relative;
        transform: translateX(0%);
        order: 1;
    }
}
.toggle-nav_section nav.link {
    
    @media (min-width: 1024px) {
        flex-grow: 1;
        order: 2;
        align-items: center;
        flex-direction: row;
        gap: 2.5rem;
    }
}
.link ul.nav-menu {
    display: flex;
    font-size: 0.75rem;
    font-weight: 400;
    letter-spacing: 0.5px;
    gap: 1rem;
    
    @media (max-width: 1024px) {
        align-items: center;
    }
}
@media (max-width: 1024px) {
    .navigate .logo {
        order: 2;
    }
    .wrap-left .btn-toggle_nav {
        order: 1;
    }
    .toggle-nav_section .nav-menu {
        position: fixed;
        left: -100%;
        top: 80px;
        gap: 0;
        display: flex;
        flex-direction: column;
        background-color: var(--c-bg-primary);
        width: 100%;
        padding: 32px 20px 20px;
        text-align: left;
        transition: 0.3s ease-in-out all;
    }
    .toggle-nav_section .nav-item::before {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: var(--c-bg-primary);
        z-index: -1;
    }

    .nav-menu .nav-item {
        margin: 0px auto 1rem;
    }
    .nav-menu.active {
        left: 0;
    }
}
.link ul > li.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    border: 1px solid var(--c-bg-grey-tertiary);
}
.navigate .wrap-right {
    display: flex;
    align-items: center;
    gap: 14px;
    order: 3;
}
.wrap-right .wrap-input {
    position: relative;
}
.wrap-input label {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.wrap-input input.input-search {
    width: min(100%, 15rem);
    /* width: 15rem; */
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    padding-inline-start: 1rem;
    padding-inline-end: 3rem;
    border-radius: 9999px;
    font-size: 12px;
    letter-spacing: 0.5px;
    border: 2px solid var(--c-border-tertiary);
}
.wrap-input span {
    position: absolute;
    display: grid;
    width: 2rem;
    height: 2rem;
    place-content: center;
    background-color: var(--c-bg-tertiary);
    color: white;
    z-index: 1;
    top: 50%;
    right: 5px;
    bottom: 0;
    transform: translateY(-50%);
    border-radius: 100%;
}
.wrap-input span button {
    width: 16px;
    height: 16px;
    border-radius: 100%;
}
.wrap-profile {
    position: relative;
    display: block;
    z-index: 99999;
}
.wrap-profile button {
    border-radius: 100%;
    border: 2px solid #F3F4F6;
    box-shadow: '0 35px 60px -15px rgba(0, 0, 0, 0.3)';
    overflow: hidden;
}
.wrap-profile button:hover + .card-menu_profile {
    visibility: visible;
    opacity: 1;
}
.wrap-profile .card-menu_profile:hover {
    visibility: visible;
    opacity: 1;
} 
button span {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border-width: 0;
}
.wrap-profile img {
    max-width: 2.5rem;
    height: 2.5rem;
    object-fit: cover;
}
.wrap-profile .card-menu_profile {
    visibility: hidden;
    opacity: 0;
    position: absolute; 
    left: 0;
    right: 0;
    transform: translateX(-80%) translateY(2%);
    z-index: 10px; 
    margin-top: 0.125rem; 
    border-radius: 0.75rem; 
    border-width: 1px; 
    border-color: #F3F4F6; 
    border-top-width: 1px; 
    border-color: #F3F4F6; 
    width: 15.625em; 
    background-color: #ffffff; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); 
}
.wrap-profile .card-menu_profile::before {
    content: '';
    position: absolute;
    top: -6px;
    right: 20px;
    width: 1rem;
    height: 1rem;
    background-color: var(--c-bg-light);
    aspect-ratio: 1 / 1;
    transform: rotate(45deg);
    z-index: -1px;
}
.card-menu_profile .wrap-menu {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0.5rem;
}
.wrap-menu > img {
    max-width: 60px;
    height: 60px;
    margin: 0.5rem auto 0.2rem;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.wrap-menu .username {
    display: block; 
    margin: 12px;
    text-align: center;
    border: 1px solid var(--c-border-primary);
    padding-top: 0.2rem;
    padding-bottom: 0.2rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    border-radius: 0.5rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    letter-spacing: 0.5px;
    color: var(--c-link);
}

.card-menu_profile .btn-logout {
    display: flex; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
    border-radius: 0.5rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #B91C1C; 
    cursor: pointer;
}
.card-menu_profile .icon-logout {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 20;
}
.card-menu_profile .btn-login {
    display: flex; 
    padding-top: 1rem;
    padding-bottom: 1rem; 
    padding-left: 1rem;
    padding-right: 1rem; 
    gap: 0.5rem; 
    align-items: center; 
    border-radius: 0.5rem; 
    width: 100%; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #198754; 
    cursor: pointer;
}
.card-menu_profile .icon-login {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    z-index: 20;
}
/* ---------->>> HEADER - END <<------------ */


/* ---------->>> FOOTER - START <<---------- */
footer {
    grid-area: footer;
    display: block;
    max-width: 100%;
    height: auto;
    line-height: isolate;
    background-color: var(--c-grey-primary);
    color: #ffffff;
}
footer > .wrap-footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: min(95%, 90rem);
    margin-inline: auto;
    height: auto;
    padding-top: 2.5rem;
    padding-bottom: 2rem;

    @media (min-width: 768px) {
        width: min(95%, 90rem);
        justify-content: center;
        flex-direction: column;
        width: min(95%, 90rem);
        margin-inline: auto;
        height: auto;
        padding-top: 2.5rem;
        padding-bottom: 2rem
    }
}
.wrap-footer .wrap-top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    
    @media (min-width: 768px) {
        flex-direction: row;
        gap: 1.5rem;
    }
}
.wrap-top .logo {
    display: flex; 
    justify-content: center; 

    @media (min-width: 768px) { 
        justify-content: flex-start;
    }
}
.wrap-top .logo img {
    max-width: 180px; 
    height: fit-content;
    
    @media (min-width: 640px) {
        max-widht: 250px;
        height: fit-content;
    }
}

.wrap-top > div {
    flex-grow: 1;
}
.wrap-top > div > .wrap-link_page__footer {
    margin: 40px auto 67px;   
}
.wrap-link_page__footer > ul {
    display: flex;
    width: fit-content;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}
.wrap-link_page__footer > ul > li > a {
    color: inherit;
}
.wrap-link_page__footer > ul > li > a:hover {
    color: var(--c-bg-tertiary);
}
.wrap-link_social__footer ul {
    display: flex; 
    margin-top: 2rem; 
    gap: 1.5rem; 
    justify-content: center; 
    flex-direction: row;
    
    @media (min-width: 768px) { 
        justify-content: flex-start; 
        gap: 2rem; 
   } 
}
.wrap-link_social__footer ul > li > a {
    color: inherit;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
.wrap-link_social__footer ul > li > a > .icon-social {
    width: 2rem;
    height: 2rem;
}
.wrap-link_social__footer ul > li > a > .icon-social.telegram {
    width: 2rem;
    height: 2rem;
    padding: 2px;
}
footer > div > div > .wrap-card_info {
    flex-grow: auto;
    display: flex;
    justify-content: end;
    align-items: center;
}
footer > .wrap-footer > .wrap-top > .wrap-card_info > .card-info {
    display: flex;
    justify-content: start;
    flex-direction: column;
    max-width: 370px;
    height: 190px;
    padding: 20px 24px;
    background-color: #2F2E2E;
    border-radius: 0.5rem;
    border: 2.5px solid #ffffff10;
}
.card-info > .info {
    display: block;
}
.card-info > .info > img {
    float: left;
    margin-right: 14px;
}
.card-info > p {
    transform: translateY(25%);
    line-height: 1.5;
    text-align: left;
}

footer > .wrap-footer > .wrap-bottom {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1.5rem; 
    margin-top: 3rem; 
    border-top-width: 1.5px; 
    border-color: #ffffff; 

    @media (min-width: 768px) {
        justify-content: flex-end;
    }
}
.wrap-bottom > div {
    text-align: center; 

    @media (min-width: 640px) { 
        display: flex; 
        justify-content: flex-end; 
        text-align: left; 
    }
}
.wrap-bottom > div > p {
    margin-top: 1rem; 
    font-size: 0.875rem;
    line-height: 1.25rem; 
    color: #6B7280; 

    @media (min-width: 640px) { 
        margin-top: 0; 
        order: -9999; 
    }
}
/* ---------->>> FOOTER - End <<------------ */